.center {
    margin: 10px auto;
    width: 850px;
}

.color {
    margin: 10px auto;
    width: 750px;
    background-color: whitesmoke;
}

.header {
    margin: 10px auto;
    width: 800px;
}

.top {
    margin: 10px auto;
    width: 850px;
}